/****************************  GENERELT ****************************/
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    background-color: white;
    overflow-wrap: break-word;
    hyphens: auto;
}

section {
    margin: 10px;
}

.sectionwrapper {
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
}



img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

figure {
    margin: 0;
    padding: 0;
}

/* FOOTER */
footer {
    background-color: black;
    margin: 0px;
    padding: 20px 10px;

}

.kontakt h3,
.kontakt p {
    color: #ffffff;
}

/* FOOTER SLUT */
/****************************  GENERELT SLUT  ****************************/

/**************************** TYPOGRAFI ****************************/

h1 {
    font-family: 'Noto Sans:700', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #000000;
    margin: 10px;
    padding: 5px
}

h2 {
    font-family: 'Noto Sans:700', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;

}

h3 {
    font-family: 'Noto Sans:700', sans-serif;
    font-weight: 700;
    font-size: 1.20rem;
    color: #000000;
}


p {
    font-family: 'Noto Sans:400', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 5px;
}

li {
    font-family: 'Noto Sans:400', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 0.9rem;
    line-height: 1.25;
    margin: 5px;
}

figcaption {
    font-family: 'Noto Sans:400i', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    font-style: italic;
    color: #000000;
}

a:visited {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a {
    font-family: 'Noto Sans:700', sans-serif;

}


/**************************** TYPOGRAFI SLUT ****************************/

/****************************  MENU  ****************************/

header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    padding: 20px 10px;
    width: 100%;
    margin: 0rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-size: 100%;
}

header nav a {
    flex-basis: auto;
    flex-grow: 1;
    padding: 0.5rem;
    font-family: 'Noto Sans:400', sans-serif;
    font-size: 0.85rem;
}

header nav a:link,
header nav a:visited,
header nav a:active {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    background-color: #CD2E3A;
}

header nav a:active {
    background-color: #CD2E3A;
}

header nav a:hover {
    color: white;
    text-decoration: none;

}


/****************************  MENU SLUT  ****************************/


#hold {
    background-color: #000000;
    padding: 15px;
    margin: 0px;
}

#hold .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#hold .col {
    /* child flex */
    flex-grow: 1;
    flex-basis: 300px;
    /* parent flex */
    display: flex;
    flex-direction: column;

    background-color: white;
    padding: 15px;
    margin: 15px;
    max-width: 500px;
}

#hold .top {
    margin: 15px;
}

#hold .bottom {
    margin: 15px;

}

#hold h3,
#hold p,
    {
    color: white;
}
